html {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: #2196F3;
  transition: .5s ease-in-out;
  flex-direction: column;
  color: white;
  min-height: 100%;
}
body.hide {
  background-color: #000;
}
header {
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
header img {
  display: inline;
  vertical-align: middle;
  height: 3em;
}
header h1 {
  display: inline;
  vertical-align: middle;
  margin: 5px;
}
main {
  text-align: center;
}
p {
  margin: 0;
}
.tutorial-image {
  margin-top: 50px;
}
.tutorial-image i {
  transition: .5s ease-in-out;
  font-size: 5em;
  vertical-align: middle;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.tutorial-image i.correct {
  color: #4CAF50;
}
.tutorial-image img {
  height: 150px;
  vertical-align: middle;
}
.steps {}
.steps ul {
  padding: 0;
}
.steps li {
  display: inline;
  padding: 5px;
}
.steps li i {
  transition: .5s ease-in-out;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}
.steps li:not(.active) i {
  color: #2196F3;
}
.step {
  position: absolute;
  right: 0;
  left: 0;
  opacity: 1;
  transition: .5s ease-in-out;
}
.step.right {
  opacity: 0;
  transition: .5s ease-in-out;
  position: absolute;
  right: -1000px;
}
.step.left {
  opacity: 0;
  transition: .5s ease-in-out;
  position: absolute;
  left: -1000px;
}
.step .tutorial-image.inline img, .step .tutorial-image.inline ul {
  display: inline-block;
}
.step .tutorial-image.inline ul {
  padding: 0;
  list-style-type: none;
  vertical-align: middle;
}
.commands {
  margin: 0 auto;
  margin-top: 20px;
  width: 80%;
}
.commands td {
  padding: 5px;
}
.commands .command {
  transition: .5s ease-in-out;
  font-weight: bold;
  text-align: right;
  font-style: italic;
  padding-left: 20px;
}
.commands .description {
  text-align: left;
  padding-right: 20px;
}
.command.correct {
  color: #AED581;
}
footer .steps i {
  cursor: pointer;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: white;
}
footer a:hover {
  font-weight: bold;
}

a.skip {
  margin: 0 20px;
}
